

.labelColumnStyle {
	width: 200px;
}

.inputColumnStyle {
	width: 300px;
}

.longColumnStyle {
	width: 700px;
}

.messageColumnStyle {
	width: 150px;
}

.gridInputField {
	width: 100%;
}


.positionCentered {
   margin:0px auto; margin-top:100px;
}

.centered {
   margin:0px auto; margin-top:0px;
}